cAlgos/cAlgos.xcodeproj/project.pbxproj
cAlgos/cAlgos.xcodeproj/project.xcworkspace/contents.xcworkspacedata
cAlgos/cAlgos.xcodeproj/project.xcworkspace/xcuserdata/Rediet.xcuserdatad/UserInterfaceState.xcuserstate
cAlgos/cAlgos.xcodeproj/xcuserdata/Rediet.xcuserdatad/xcschemes/cAlgos.xcscheme
cAlgos/cAlgos.xcodeproj/xcuserdata/Rediet.xcuserdatad/xcschemes/xcschememanagement.plist
